<div class="category-page__news-item__big">
  <img src="{{img}}" alt=""/>
  <div class="category-page__news-item__news-date-social">
    <span class="category-page__news-item__news-date">{{date}}</span>
    <span class="category-page__news-item__news-social-container">
      <span class="category-page__news-item__news-social-comment">{{comment}}</span>
      <span class="category-page__news-item__news-social-like">{{like}}</span>
      <span class="category-page__news-item__news-social-seen">{{seen}}</span>
    </span>
  </div>
  <h3>
    <a href="#" title="">{{title}}</a>
  </h3>
  <p>
    {{description}}
  </p>
</div>